.wrap{
  background-color: white;
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
}

@media screen and (max-width:767px) {
  .wrap{
    width: 90%;
  }
}

.black-bg{
  background-color: black;
  width: 100%;
  height: 1000px;
  left: 0;
  position: absolute;
  z-index: 0;
}

/* header */
header{
  color: white;
  text-align: center;
  padding-top: 20px;
  position: relative;
  z-index: 10;
}

header .gnb{
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  grid-template-rows: auto auto;
  grid-template-areas:
  "logo gnb-menu menu"
  "search search search";
}

header .gnb .logo{
  grid-area: logo;
  cursor: pointer;
  display: flex;
  align-items: center;
}

header .gnb .gnb-menu{
  grid-area: gnb-menu;
  display: flex;
  align-items: center;
}

header .gnb .gnb-menu ul{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

header .gnb .gnb-menu ul li{
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}

header .gnb .gnb-menu ul li:hover{
  color: gray;
}

header .gnb .gnb-menu ul li:hover::before{
  content: "";
  height: 2px;
  width: 5px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

header .gnb .gnb-menu ul .active:hover{
  color: white;
}

header .gnb .gnb-menu ul .active:hover::before{
  width: 15px;
}

header .gnb .gnb-menu ul .active::before{
  content: "";
  height: 2px;
  width: 15px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

header .gnb .menu{
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  width: 85%;
  margin-left: 15%;
}

header .gnb .menu .menu-hover{
  padding: 10px 20px;
  border-radius: 30px;
}

header .gnb .menu .menu-hover:hover{
  background-color: rgb(172, 172, 172, 0.3);
}

header .gnb .menu .profile{
  background-color: white;
  color: gray;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

header .gnb .search{
  grid-area: search;
  width: 70%;
  margin: 0 auto;
}

header .gnb .search .searchUl{
  background-color: white;
  color: black;
  display: flex;
  border-radius: 50px;
}

header .gnb .search .searchUl li{
  width: 25%;
  text-align: left;
  padding: 20px 50px 20px 20px;
  font-weight: bold;
  border-radius: 50px;
  position: relative;
}

header .gnb .search .searchUl li:after{
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% - 40px);
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: lightgray;
}

header .gnb .search .searchUl li:last-of-type::after{
  display: none;
}

header .gnb .search .searchUl li:hover{
  background-color: lightgray;
}

header .gnb .search .searchUl li span{
  color: gray;
  font-size: 12px;
  font-weight: normal;
}

/* notice */
.notice{
  background-color: #ff385c;
  border-radius: 14px;
  text-align: center;
  height: 320px;
  
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notice p{
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  line-height: 1.8rem;

  margin-bottom: 2rem;
}

.notice button{
  border: 1px solid white;
  padding: 5px 15px;
  color: white;
  background-color: inherit;
  font-weight: bold;
  border-radius: 5px;
}

/* mainBanner */

.mainBanner{
  height: 600px;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;

  background-image: url("https://cabintrippers.com/wp-content/uploads/2021/12/Cabin-of-Freedom-Falls-Cabin-Airbnb-Kentucky.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  z-index: 10;
}

.mainBanner .content{
  color: white;
  text-align: center;
}

.mainBanner .content p{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.mainBanner .content button{
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
  border-radius: 24px;
}

.mainBanner .content button span{
  background: linear-gradient(90deg, #6F019C 0%, #C6017E 135.12%);
  -webkit-background-clip: -webkit-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* idea */

.city{
  display: flex;
  width: 100%;
  overflow: auto;

}

.city .card{
  width: 25%;
  min-width: 250px;
  margin-right: 30px;
  cursor: pointer;
}

.city .card:nth-last-of-type(1){
  margin-right: 0px;
}

.city .card img{
  width: 100%;
  height: 180px;
  display: block;
  border-radius: 12px 12px 0px 0px;
}

.city .card figcaption{
  border-radius: 0px 0px 12px 12px;
  height: calc(180px - calc(10px * 2));
  padding: 10px 16px;
  color: white;
}

.city .card figcaption p{
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
}

.city .card figcaption span{
  font-size: 1.15rem;
}

@media screen and (max-width: 767px){
  .city{
      /* ie */
    -ms-overflow-style: none; 
    /* firefox */
    scrollbar-width: none;

  }

  /* chrome */
  
  .city .card{
    margin-right: 15px;
  }
  
  .city .card figcaption p{
    font-size: 1.3rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
  }

  .heading{
    font-size: 1.5rem;
  }

}

/* expression - 가상 클래스 사용*/
.city::-webkit-scrollbar{
  display: none;
}

.expression{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  grid-template-areas: 
  "heading heading"
  "div1 div2";
}

.expression .photoDiv{
  height: calc(700px - calc(60px * 2));
  padding: 60px;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.expression .photoDiv:nth-of-type(1){
  background-image: url("https://news.airbnb.com/wp-content/uploads/sites/4/2022/11/%E1%84%8B%E1%85%B5%E1%84%86%E1%85%B5%E1%84%8C%E1%85%B51-%E1%84%8B%E1%85%A6%E1%84%8B%E1%85%A5%E1%84%87%E1%85%B5%E1%84%8B%E1%85%A2%E1%86%AB%E1%84%87%E1%85%B5-%E1%84%92%E1%85%A1%E1%86%AB%E1%84%8B%E1%85%A9%E1%86%A8-%E1%84%8F%E1%85%A1%E1%84%90%E1%85%A6%E1%84%80%E1%85%A9%E1%84%85%E1%85%B5-%E1%84%89%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A5%E1%86%AF-1.jpg?w=1536");
}

.expression .photoDiv:nth-of-type(2){
  background-image: url("https://news.airbnb.com/wp-content/uploads/sites/4/2022/10/1-%E1%84%82%E1%85%A1%E1%84%80%E1%85%A1%E1%84%82%E1%85%A9%E1%84%8B%E1%85%A9%E1%84%83%E1%85%AE%E1%84%86%E1%85%A1%E1%86%A8.jpeg?w=1200");
}

.expression .photoDiv p{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
}

.expression .photoDiv button{
  color: black;
  font-weight: bold;
  border: none;
  background-color: white;
  padding: 15px 23px;
  border-radius: 12px;
  margin-top: 1rem;
}

.expression .photoDiv button:hover{
  background-color: lightgray;
}